<nav class="menu bottom-menu">
	<ul class="menu__body">
		<li class="menu__item">
			<a href="#item1" class="text--s16 menu__link bottom-menu__link">Парикмахерская</a>
		</li>
		<li class="menu__item">
			<a href="#item2" class="text--s16 menu__link bottom-menu__link">Барбершоп</a>
		</li>
		<li class="menu__item">
			<a href="#item3" class="text--s16 menu__link bottom-menu__link">Маникюр</a>
		</li>
		<li class="menu__item">
			<a href="#item4" class="text--s16 menu__link bottom-menu__link">Педикюр</a>
		</li>
		<li class="menu__item">
			<a href="#item5" class="text--s16 menu__link bottom-menu__link">Массаж</a>
		</li><li class="menu__item">
			<a href="#item5" class="text--s16 menu__link bottom-menu__link">Мебель</a>
		</li>
	</ul>
</nav>
