<section class="section section--gray offers__section">
	<div class="container">
		<h2 class="text--medium offers__title">Специальные предложения</h2>
		<div class="offers__list">
			<div class="offers__item offer">
				<div class="offer__img-wrapper">
					<img data-src="../img/offers/offers-img.png" alt="item1" data-sizes="auto" class="lazyload offer__img">
				</div>
				<div class="offer__text-wrapper">
					<p class="offer__desc">Парикмахерское кресло «Норм» гидравлическое</p>
					<span class="text--medium offer__price">9900 &#8381;</span>
				</div>
				<button class="btn-reset button--bg-accent">Купить</button>
			</div>
			<div class="offers__item offer">
				<div class="offer__img-wrapper">
					<img data-src="../img/offers/offers-img.png" alt="item1" data-sizes="auto" class="lazyload offer__img">
				</div>
				<div class="offer__text-wrapper">
					<p class="offer__desc">Парикмахерское кресло «Норм» гидравлическое</p>
					<span class="text--medium offer__price">9901 &#8381;</span>
				</div>
				<button class="btn-reset button--bg-accent">Купить</button>
			</div>
			<div class="offers__item offer">
				<div class="offer__img-wrapper">
					<img data-src="./img/offers/offers-img.png" alt="item1" data-sizes="auto" class="lazyload offer__img">
				</div>
				<div class="offer__text-wrapper">
					<p class="offer__desc">Парикмахерское кресло «Норм» гидравлическое</p>
					<span class="text--medium offer__price">9902 &#8381;</span>
				</div>
				<button class="btn-reset button--bg-accent">Купить</button>
			</div>
			<div class="offers__item offer">
				<div class="offer__img-wrapper">
					<img data-src="./img/offers/offers-img.png" alt="item1" data-sizes="auto" class="lazyload offer__img">
				</div>
				<div class="offer__text-wrapper">
					<p class="offer__desc">Парикмахерское кресло «Норм» гидравлическое</p>
					<span class="text--medium offer__price">9903 &#8381;</span>
				</div>
				<button class="btn-reset button--bg-accent">Купить</button>
			</div>
		</div>
	</div>
</section>
