<div class="social @@class">
	<div class="social__item">
		@@include("icons.html", {
		"id": "youtube",
		"class": "social__icon social__icon--youtube"
		})
	</div>
	<div class="social__item">
		@@include("icons.html", {
		"id": "vk",
		"class": "social__icon social__icon--vk"
		})
	</div>
	<div class="social__item">
		@@include("icons.html", {
		"id": "fb",
		"class": "social__icon social__icon--fb"
		})
	</div>
	<div class="social__item">
		@@include("icons.html", {
		"id": "instagram",
		"class": "social__icon social__icon--instagram"
		})
	</div>

</div>
