<footer class="footer">
	<div class="container footer__contacts-wrapper">
		@@include("../components/social.html", {
			"class": "footer__social"
		})
		<a href="#map" class="footer__address">198555, Невский пр. 140, офис 140</a>
		@@include("../components/contacts.html", {
		"class": "footer"
		})
	</div>
	<div class="last-line">
		<div class="container last-line__container">
			<p class="text--s12 last-line__rights">Лучший магазин (с) 2019 Все права защищены. Интернет-магазин оборудования для салонов красоты</p>
			<a href="#popup" class="text--s12 last-line__link">Политика конфиденциальности</a>
		</div>
	</div>
</footer>
